
/* Remove underline from links */
a {
    text-decoration: none;
}

/* Nav links */
a.nav-special:hover {
    transform: scale(1.1);
}
a.nav-special {
    transition: transform 0.2s ease-in-out;
}

/* Special links */
a.special-link:hover {
    transform: scale(1.1);
}

a.special-link {
    transition: transform 0.2s ease-in-out;
}

a.special-link {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

a.special-link {
    background: linear-gradient(45deg, #ff0066, #33ccff);
    background-clip: text; /* Text gradient effect */
    -webkit-background-clip: text;
    color: transparent;
}

.mt-n1 {
    margin-top: -1.5rem !important;
  }

  .trendy-title {
    font-family: 'Yeseva One', sans-serif;
    font-size: 9vw;
    line-height: 1.25em;
    color: #231301;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }